body{
    /* color: white; */
    margin: 0;
    height: 100vh;
}

.register-wrapper{
    margin: 0;
    background-color: #f2395a;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-block{
    margin: 0;
    box-sizing: border-box;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 500px;
    width: 300px;
    border-radius: 20px;
}