body{
    background-color: rgba(240, 230, 140, 0.9);
    height: 100vh;
    margin: 0;
}

.sandbox{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shadow-typo{
    display: inline-block;
    font-family: 'Bubblegum Sans';
    font-size: 6rem;
    color: #00b3b4;
    text-transform: uppercase;
    text-shadow: 3px 3px 0 white, 8px 8px 0 rgba(0, 0, 0, 0.1);
}

.threedee-typo{
    display:inline-block;
    font-size: 6rem;
    text-transform: uppercase;
    font-family: 'Roboto Condensed';
    color: #f2395a;
    transform-origin: center;
    transform: skew(-5deg, -5deg) rotate(5deg);
    text-shadow: 1px 1px #d10e31,
                  2px 2px #d10e31,
                  3px 3px #d10e31,
                  4px 4px #d10e31,
                  5px 5px #d10e31,
                  6px 6px #d10e31,
                  7px 7px #d10e31,
                  8px 8px #890920,
                  9px 9px #890920,
                  10px 10px #890920,
                  11px 11px 15px rgba(0,0,0,0.5);
}